body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#container {
    padding: 0.5%;
    background-color:beige;
    border: solid 5px;
}

.static {
    position: static;
}

.relative {
    position: relative;

}

.fixedPosition{
    left: 100px;
    top: 70px;
}

.left {
    left: 20px; 
}

.fixed{
    position: fixed;
    z-index: 1;
}


.absolute{
    position:absolute;
 
    top: 0; 
    right: 0;
}

.filled{
    background-color:gray;
}

